@font-face {
	font-family: 'myriadpro';
	src: url('/myriadpro.woff') format('woff');
	font-weight: normal;
	font-style: normal;
  }

@font-face {
	font-family: 'myriadpro';
	src: url('/myriadpro.woff2') format('woffé');
	font-weight: normal;
	font-style: normal;
  }

  @font-face {
	font-family: 'mutlu';
	src: url('/mutlu.woff') format('woff');
	font-weight: normal;
	font-style: normal;
  }

@font-face {
	font-family: 'mutlu';
	src: url('/mutlu.woff2') format('woffé');
	font-weight: normal;
	font-style: normal;
  }
  

/* General Reset */
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	background-attachment: fixed;
	background-color: rgba(255, 255, 255);
  }
  
  /* Layout */
  .root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
  }
  
  .wrapperr {
    display: flex;
	flex-direction: row; /* Arrange children horizontally */
	height: 100vh; /* Full height of the viewport */	
  }
  
  .page-content-wrapper {
	margin-top: 0;
	margin-left: 15%;
	width: auto;
  }
  
  .wrapper.toggled .sidebar-wrapper {
	margin-left: 0;
  }
  
  @media (min-width: 768px) {
	.sidebar-wrapper {
	  margin-left: 0;
	  width: 7rem;
	}
	.page-content-wrapper {
	  min-width: 0;
	  width: 100%;
	  margin-left: 7rem;
	}
	.wrapper.toggled .sidebar-wrapper {
	  margin-left: -15rem;
	}
  }

  @media (max-width: 768px) {
	
	.page-content-wrapper {
	  min-width: 0;
	  width: 100%;
	  margin-left: 0;
	}

	.sidebar-wrapper {
	  margin-left: 0;
	  width: 4rem;
	  will-change: transform;
      transition: transform 0.1s ease-out;
	  top: 0;
	  left: 0;
	  scroll-behavior: smooth;
	  transform: translate3d(0, 0, 0);
	  will-change: transform;
	  }

	.wrapper {
	   display: flex;
	   flex-direction: row; /* Arrange children horizontally */
	   width: 4rem;	
	}
  }
  
  /* Sidebar */
  .sidebar-wrapper {
	width: 15%;
	background-color: transparent;
	transition: margin 0.25s ease-out;
	z-index: 0;
  }

  .wrapper {
    display: flex;
	flex-direction: row; /* Arrange children horizontally */
	width: 7rem;
  }
  
  /* Portfolio */
  .container {
	display: flex;
	flex-wrap: wrap;
	z-index: 500;
  }
  
  .portfolio {
	padding: 40px 0 100px 0;
  }
  
  .portfolio-item {
	margin: 1rem 0;
	width: 100%;
	height: auto;
	transition: all 0.5s ease-out;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .hover-bg {
	overflow: hidden;
	position: relative;
  }
  
  .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #E0004D;
	background: rgba(255, 255, 255, 0.75);
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
  }
  
  .hover-bg:hover .hover-text {
	opacity: 1;
  }
  
  .overlay-caption {
	display: table;
	height: 100%;
	width: 100%;
  }
  
  .overlay-content {
	display: table-cell;
	vertical-align: middle;
  }
  
  .img-responsive {
	width: 100%;
	height: auto;
  }

  
  /* Scroll Effects */
  .scroll {
	transition: transform 0.3s ease;
  }
  

  html::-webkit-scrollbar {
	width: 12px;
  }
   
  html::-webkit-scrollbar-track {
	background: rgb(255, 255, 255);
  }
   
  html::-webkit-scrollbar-thumb {
	background: #e72700;
	
  }



  .image-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: auto;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
  }
  
  .modal-content {
	position: relative;
	padding: 10px;
	background: #fff;
	border-radius: 8px;
	max-width: 30rem;
	max-height: 30rem;
	overflow: auto;
  }
  
  .modal-content img {
	max-width: 70%;
	max-height: 70%;
	display: block;
	margin: 0 auto;
  }
  
  .modal-title {
	margin-top: 10px;
	text-align: center;
	font-size: 1.2em;
	color: #0000a2;
	font-family: 'myriadpro', sans-serif; 
	font-size: 1.2em;
  }
  
  .image-modal:hover {
	cursor: pointer;
  }
  

  
  